
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<script src="http://code.jquery.com/jquery.min.js"></script>

<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


<link rel="stylesheet" type="text/css" href="daterangepicker.css">
<script type="text/javascript" src="moment.js"></script>
<script type="text/javascript" src="daterangepicker.js"></script>
</head>
<body>
	<div class="container">
		<div id="reportrange" class="pull-right"
			style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
			<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp; <span></span>
			<b class="caret"></b>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			// 시작 날짜와 끝나는 날짜를 지정한다. 여기에서는 30일로 설정하엿다
			var start_date = moment().subtract(29, 'days');
			var end_date = moment();
			function cb(start, end) {
				$('#reportrange span').html(
						start.format('YYYY-MM-DD') + ' - '
								+ end.format('YYYY-MM-DD'));
			}
			  cb(start_date, end_date); 

			$('#reportrange')
					.daterangepicker(
							{
								ranges : {
									'오늘' : [ moment(), moment() ],
									'어제' : [ moment().subtract(1, 'days'),
												moment().subtract(1, 'days') ],
									'지난 7일' : [ moment().subtract(6, 'days'),
											moment() ],
									'지난 30일' : [ moment().subtract(29, 'days'),
											moment() ],
									'이번 달' : [ moment().startOf('month'),
											moment().endOf('month') ],
									'지난 달' : [
											moment().subtract(1, 'month')
													.startOf('month'),
											moment().subtract(1, 'month')
													.endOf('month') ]
								},
								'startDate' :  start_date,
								'endDate' : end_date
							}, cb);
		});
	</script>
</body>
</html>