<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwarang.artg.mapper.ExhibitionLikeMapper">

	<insert id="insert" parameterType="hwarang.artg.exhibition.model.ExhLikeVO">
		 insert into exhibition_like (member_id,exh_seq,exh_like_status,exh_likedate)
		 values(#{member_id},#{exh_seq},#{exh_like_status}, sysdate + 9/24)
	</insert>

	<delete id="delete">
		delete exhibition_like where exh_seq = #{exh_seq} and member_id = #{member_id}
	</delete>
</mapper>
