<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwarang.artg.mapper.FAQMapper">
	<insert id="insertFAQ" parameterType="hwarang.artg.manager.model.FAQVO">
		<selectKey order="BEFORE" keyProperty="num" resultType="int">
			select seq_faq.nextval from dual
		</selectKey>
		INSERT INTO FAQ (FAQ_NUM, QUESTION, ANSWER, FAQ_CATEGORY)
		VALUES (#{num}, #{question}, #{answer}, #{category})
	</insert>
	<update id="updateFAQ" parameterType="hwarang.artg.manager.model.FAQVO">
		UPDATE FAQ SET QUESTION = #{question}, ANSWER = #{answer}, FAQ_CATEGORY = #{category}
		WHERE FAQ_NUM = #{num}
	</update>
	<delete id="deleteFAQ" parameterType="int">
		DELETE FROM FAQ WHERE FAQ_NUM = #{num}
	</delete>
	<select id="selectFAQ" parameterType="int" resultMap="FAQMap">
		SELECT * FROM FAQ WHERE FAQ_NUM = #{num}
	</select>
	<select id="selectAllFAQs" resultMap="FAQMap">
		SELECT * FROM FAQ order by FAQ_NUM desc
	</select>
	
	<select id="selectRecentFAQs" resultMap="FAQMap">
		SELECT * 
		  FROM ( SELECT * FROM FAQ order by FAQ_REG_DATE desc)
	  	 WHERE rownum between 1 and 7
	</select>
	
	<sql id="criteriaDTO">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'Q'.toString()">
							QUESTION like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							FAQ_CATEGORY like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'A'.toString()">
							ANSWER like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- 페이징 처리 (파라미터 pageNum, amount)-->
	<select id="getListWithPaging" resultMap="FAQMap">
		<![CDATA[
 			SELECT FAQ_NUM, QUESTION, ANSWER, FAQ_CATEGORY, FAQ_REG_DATE 
 			  FROM (SELECT /*+INDEX_DESC(FAQ pk_faq_num) */ rownum as rNum, FAQ_NUM, QUESTION, ANSWER, FAQ_CATEGORY, FAQ_REG_DATE 
 					  FROM FAQ 
 					 WHERE 
 		]]>
 		<include refid="criteriaDTO"></include>
 		<![CDATA[ 
 			 rownum <= #{pageNum} * #{amount})
 			 WHERE rNum > (#{pageNum} - 1) * #{amount}
 		]]> 
	</select>
		
	<!-- 총 페이지 구하기 -->
	<select id="getTotalCount" resultType="int">
		SELECT count(*) FROM FAQ
		WHERE
		<include refid="criteriaDTO"></include>
		FAQ_NUM > 0
	</select>
	
	<resultMap type="hwarang.artg.manager.model.FAQVO" id="FAQMap">
		<result column="FAQ_NUM" property="num"/>
		<result column="QUESTION" property="question"/>
		<result column="ANSWER" property="answer"/>
		<result column="FAQ_CATEGORY" property="category"/>
		<result column="FAQ_REG_DATE" property="regDate"/>
	</resultMap>
</mapper>