<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hwarang.artg.mapper.FreeBoardMapper">
<insert id="insertBoard" parameterType="hwarang.artg.community.model.FreeBoardVO">
		<selectKey order="BEFORE" keyProperty="num" resultType="int">
			select seq_b_free.nextval from dual
		</selectKey>
insert into free_board
	(free_num,member_id,free_title,free_content)
	values(${num},#{userid},#{title},#{content}) 
</insert>
<update id="updateBoard" parameterType="hwarang.artg.community.model.FreeBoardVO">
update free_board
	set free_title= #{title},
		free_content = #{content}
		where free_num = #{num} 
</update>
<delete id="deleteBoard" parameterType="int">
delete from free_board where free_num = #{num}
</delete>
<select id="selectOne" parameterType="int" resultMap="freeboardMap">
select * from free_board where free_num = #{num}
</select>
<select id="selectAll" resultMap="freeboardMap">
select * from free_board order by free_num desc
</select>
<update id="updateReadCount" parameterType="hwarang.artg.community.model.FreeBoardVO">
update free_board
	set free_readcnt = free_readcnt +1
		where free_num = #{param1}
		
</update>
<sql id="criteriaDTO">
 	<trim prefix="(" suffix=") AND" prefixOverrides="OR"> 
  		<foreach item="type" collection="typeArr">
  			<trim prefix="OR">
  				<choose>
  					<when test="type == 'T'.toString()">
  						free_title like '%'||#{keyword}||'%'
  					</when>
  					<when test="type == 'C'.toString()">
  						free_content like '%'||#{keyword}||'%'
  					</when>
  					<when test="type == 'W'.toString()">
  						member_id like '%'||#{keyword}||'%'
  					</when>
  				</choose>
  			</trim>
  		</foreach>
  	</trim>
</sql>

<select id="getListWithPaging" parameterType="hwarang.artg.community.model.FreeBoardVO" resultMap="freeboardMap">
  <![CDATA[
  select 
    free_num,member_id,free_title,free_content,free_regdate, free_updatedate,free_readcnt,free_reply_cnt
  from 
      ( select /*+INDEX_DESC(free_board pk_free_num) */
        rownum rn,free_num,free_title, free_content, member_id, free_regdate, free_updatedate, free_readcnt, free_reply_cnt 
      from free_board
      where
  ]]>
 	<include refid="criteriaDTO"></include>
  <![CDATA[     
      rownum <= #{pageNum} * #{amount})
  where rn > (#{pageNum} -1) * #{amount}   
  ]]>
</select>

<select id="getTotalCount" resultType="int">
		select count(*) from free_board
		where
		 <include refid="criteriaDTO"></include>
		free_num > 0
</select>

<!-- 신고처리 -hj- -->
<update id="updateBlock">
	UPDATE FREE_BOARD SET BLOCK = #{block} WHERE free_num = #{num}
</update>


<resultMap id="freeboardMap" type="hwarang.artg.community.model.FreeBoardVO">
<result column="free_num" property="num"/>
<result column="member_id" property="userid"/>
<result column="free_title" property="title"/>
<result column="free_content" property="content"/>
<result column="free_regdate" property="regDate"/>
<result column="free_updatedate" property="upDateDate"/>
<result column="free_readcnt" property="readCount"/>
<result column="free_recomm_cnt" property="recommCount"/>
<result column="free_disrecomm_cnt" property="disrecommCount"/>
<result column="free_reply_cnt" property="replyCount"/>
<result column="BLOCK" property="block"/>
</resultMap>
</mapper>
